#showModal .modal-content {
    width: 100% !important;
}

#showModal #show-content {
    margin-bottom: 20px;
    max-height: 350px;
    overflow-y: auto;
    padding: 1rem;
    background: #efefef;
    border-radius: 2px;
}

#showModal .modal-body {
    overflow-y: auto;
}

@media (max-height: 1000px) and (max-width: 1500px) {
    #showModal .modal-body {
        max-height: 410px;
    }

    #showModal #show-content {
        max-height: 120px;
    }
}

@media (max-height: 1000px) and (max-width: 1100px) {
    #addModal .modal-body {
        max-height: 500px;
    }
}

@media (max-height: 600px) {
    #showModal #show-content {
        max-height: 150px;
    }
}

@media (max-height: 400px) {
    #showModal #show-content {
        max-height: 70px;
        margin-bottom: 5px;
    }
}


select, option {
    font-size: 13px !important;
}

input, input::-webkit-input-placeholder {
    font-size: 13px;
    color: #ccc;
    padding: 5px;
}

.form-control {
    border: -2px solid #dedede75;
}

textarea {
    height: 100px !important;
}

textarea, textarea::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
    padding: 5px;
}

.btn-light.dropdown-toggle {
    height: calc(2.25rem) !important;
    margin-top: 0 !important;
    padding: 0 10px !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 2px solid #dedede75;
    border-radius: .25rem !important;
    transition: none !important;
    box-shadow: none !important;
    position: relative !important;
    margin-left: 0px !important;

}

.filter-option-inner-inner {
    font-size: 13px !important;
    text-transform: none;
}

.dropdown-toggle.bs-placeholder:active {
    background: #fff !important;
    transition: none !important;
    box-shadow: none !important;
}

.fc-event-container {
    text-align: center;
}

.fc-content .fc-time {

    font-size: 13px !important;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group-prepend {
    margin-right: -10px !important;
}

.error {
    border: 1px solid red !important;
}

#show-object {
    max-height: 300px;
    overflow-y: auto;
}

.modal.show .modal-dialog {
    overflow: initial !important;
}
