
.no-padding-right {
    padding-right: 0 !important;
}

.mw-100 {
    max-width: 100%;
}

.w-45 {
    width: 45%;
}

.w-74 {
    width: 74%;
}

.no-border {
    border: none;
}

#nav_bar_avatar {
    padding: 0;
}

#nav_bar_avatar img {
    height: 40px;
    width: 40px;
}

.navbar .breadcrumb .breadcrumb-item.active, .navbar .breadcrumb .breadcrumb-item:before {
    color: black;
}

.breadcrumb-item a.waves-effect, .breadcrumb-item a.waves-light {
    display: inline;
}

.normal-text {
    line-height: 40px;
}

#contactTbl tbody td, #contactTbl tbody th {
    vertical-align: middle;
}

#contactTbl .avatar {
    width: 80px;
    height: 80px;
}

.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
}

.sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sidebar-fixed .logo-wrapper {
    padding: 2.5rem;
}

.sidebar-fixed .logo-wrapper img {
    max-height: 100px;
}

.pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
    opacity: 0.04;
}

.pure-material-checkbox > input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
    opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}

.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
}

.table tbody tr.select {
    background: #e5edff;
}

/*work_time*/
.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
}

.table tbody tr.select {
    background: #e5edff;
}

.w-22 {
    width: 23% !important;
}

.select-month {
    margin-bottom: 24px;
}

.list-work-time th {
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}

.list-work-time td {
    padding: 10px;
}

.statistic {
    margin: 0;
    margin-bottom: 24px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.statistic > div {
    margin-right: 10px;
    border-radius: 5px;
}

.statistic > div > span {
    padding: 10px 15px;
}

/*Day_off CSS*/
.red-circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: tomato;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
}

.green-circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: limegreen;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
}

.green-red-circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.green-red-circle::before {
    content: '';
    display: block;
    width: .75rem;
    height: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
    background: tomato;
}

.green-red-circle::after {
    content: '';
    display: block;
    width: .75rem;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    background: limegreen;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.cursor-effect {
    cursor: pointer;
    user-select: none;
}

@keyframes spinner-border {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
        padding-left: 270px;
    }

    .split-date {
        position: relative;
        top: 10px;
        left: 20px;
    }
}

@media (max-width: 1199.98px) {
    .sidebar-fixed {
        display: none;
    }
}

.profile {
    background: #f6f6f6;
    margin-bottom: 15px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.title-profile {
    margin: 15px 0;
}

.index-profile {
    color: #000;
    font-weight: bold;
    height: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    font-size: 24px;
}

.bold {
    font-weight: bold;
}

.name-profile {
    font-size: 28px;
    color: #0e2452;
}

.position-profile {
    font-size: 24px;
    color: #333;
}

.md-form {
    position: relative;
}

.md-form > .fas {
    position: absolute;
    top: 10%;
    right: 10px;
}

.md-form > .fas {
    display: none;
}

.hidden {
    display: none;
}

.required {
    color: red;
    margin-right: 35px;
}

.joinEvent {
    justify-content: center !important;
}
/*Nguyễn Thanh Tùng*/
.btn-close-icon{
    display: block ;
    background: #DDDDDD;
    border-radius: 30px;
    width: 26px;
    height: 27px;
}
.text-w-400{
    font-weight: 400;
}
.select-item{
    opacity: 0.7;
}
#bg-img{
    background-size: cover;
    background-position: center;
}
.modal-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    min-height: calc(100vh - 60px);
}
.text-black {
    color: black;
}

/*
        Style work time calendar
 */
.table-work-time {
    display: flex;
}

.tr-work-time {
    justify-content: center;
}

.select-month-calendar {
    padding-top: 7px;
}

.chooseMonth, .chooseYear {
    height: 45px;
}

table.calendarTable thead th {
    width: 13%;
}

#calendar tr td:first-child,
#calendar tr td:last-child {
    background: #eeeeee;
    color: #ff3549;
}

table.calendarTable td {
    padding: 35px 0 35px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.time-work {
    font-size: 12px;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar tr td {
    border: 0.5em solid #fff;
    background-color: #eeeeee;
    padding: 20px 5px;
    width: 14.28%;
    vertical-align: top;
    text-align: center;

}

.dayNumber {
    font-size: 1.4em;
    font-weight: bold;
}

td.blank {
    opacity: 0.4;
}

tr.calendar-header td {
    background: #eeeeee;
    color: #000000;
    text-align: center;
}
tr.calendar-body td {
    width: 162px;
    height: 109px;
}

.evt {
    margin-top: 5px;
    padding: 5px;
    font-size: 0.8em;
    max-height: 5em;
    overflow: hidden;
}

.data-type-3 {
    background-color: #ff3548 !important;
    color: #ffffff !important;
}
.data-type-4 {
    background-color: #4385f5 !important;
    color: #ffffff !important;
}
.data-type-5 {
    background-color: #01c851 !important;
    color: #ffffff !important;
}
/*
            End work time calendar
 */
