.btn {
    box-shadow: none;
}

.text-blue {
    color: blue !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.f-22 {
    font-size: 22px;
}

.mw-100 {
    max-width: 100%;
}

.w-45 {
    width: 45%;
}

.w-73 {
    width: 73%;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

.no-border {
    border: none;
}

.select-normal {
    display: block !important;
}

#main-nav {
    background: #feaf25;
}

#main-nav .nav-link {
    color: white;
}

#nav_bar_avatar {
    padding: 0;
}

#nav_bar_avatar img {
    height: 40px;
    width: 40px;
}

.navbar .breadcrumb .breadcrumb-item.active, .navbar .breadcrumb .breadcrumb-item:before {
    color: black;
}

.navbar.scrolling-navbar .navbar-nav > li.active {
    background: #00000012;
}

.breadcrumb-item a.waves-effect, .breadcrumb-item a.waves-light {
    display: inline;
}

.normal-text {
    line-height: 40px;
}

#contactTbl tbody td, #contactTbl tbody th {
    vertical-align: middle;
    padding: 0.1rem 0.5rem;
}

#contactTbl .td-approve {
    padding: 0.8rem 0.5rem;
}

#contactTbl .avatar {
    width: 40px;
    height: 40px;
}

.sidebar-fixed {
    height: 100%;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
    overflow-y: auto;
}

.sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sidebar-fixed .logo-wrapper {
    padding: 2rem 2rem 1rem 2rem;
}

.sidebar-fixed .logo-wrapper img {
    max-height: 150px;
}

.pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
    opacity: 0.04;
}

.pure-material-checkbox > input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
    opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}

.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
}

.table tbody tr.select {
    background: #e5edff;
}

/*work_time*/
.fixed-action-btn {
    position: fixed;
    z-index: 998;
    right: 35px;
    bottom: 35px;
    margin-bottom: 0;
    padding-top: 15px;
}

.table tbody tr.select {
    background: #e5edff;
}

.w-22 {
    width: 23% !important;
}

.select-month {
    margin-bottom: 24px;
}

.list-work-time th {
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}

.list-work-time td {
    padding: 10px;
}

.btn-early-late {
    background: red;
    height: 45px;
    margin-top: 6px;
    border: none;
    border-radius: 4px;
    color: white;
}

.btn-ot {
    background: #4285f4;
    height: 45px;
    margin-top: 6px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-left: 10px;
}

.btn-late-ot {
    background: #00c851;
    height: 45px;
    margin-top: 6px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-left: 10px;
}

.btn-approve {
    width: 43%;
    height: 35px;
    color: white;
    background: #00c851;
    border: none;
    border-radius: 3px;
}

.btn-approve:hover {
    cursor: pointer;
    background: #36d174;
}

.btn-reject {
    width: 43%;
    height: 35px;
    color: white;
    background: #ff3547;
    border: none;
    border-radius: 3px;
}

.btn-reject:hover {
    cursor: pointer;
    background: #fc717d;
}

.statistic {
    margin: 0;
    margin-bottom: 24px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.statistic > div {
    margin-right: 10px;
    border-radius: 5px;
}

.statistic > div > span {
    padding: 10px 15px;
}

/*Day_off CSS*/
.red-circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: tomato;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
}

.orange-circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: #FFBB34;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
}

.green-circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: limegreen;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
}

.green-red-circle {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.green-red-circle::before {
    content: '';
    display: block;
    width: .75rem;
    height: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
    background: tomato;
}

.green-red-circle::after {
    content: '';
    display: block;
    width: .75rem;
    height: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    background: limegreen;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.cursor-effect {
    cursor: pointer;
    user-select: none;
}

@keyframes spinner-border {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
        padding-left: 270px;
    }

    .split-date {
        position: relative;
        top: 10px;
        left: 20px;
    }

    tr.calendar-header td {
        background: #eeeeee;
        color: #000000;
        text-align: center;
        padding: 17px 0 17px 0;
        /*height: 4em;*/
        /*padding: 20px 5px;*/
    }

    tr.calendar-body td {
        width: 162px;
        height: 120px;
        padding-top: 25px;
        cursor: pointer;
    }
}

@media (max-width: 1564px) {
    tr.calendar-body td {
        width: 162px;
        height: 95px;
        padding-top: 15px;
        cursor: pointer;
    }

    tr.calendar-header td {
        background: #eeeeee;
        color: #000000;
        text-align: center;
        padding: 15px 0 15px 0;
        /*height: 4em;*/
        /*padding: 20px 5px;*/
    }
}

.profile {
    background: #f6f6f6;
    margin-bottom: 15px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.title-profile {
    margin: 15px 0;
}

.index-profile {
    color: #000;
    font-weight: bold;
    height: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    font-size: 24px;
}

.bold {
    font-weight: bold;
}

.name-profile {
    font-size: 28px;
    color: #0e2452;
}

.position-profile {
    font-size: 24px;
    color: #333;
}

.md-form {
    position: relative;
}

.md-form > .fas {
    position: absolute;
    top: 10%;
    right: 10px;
}

.md-form > .fas {
    display: none;
}

.hidden {
    display: none;
}

.required {
    color: red;
    margin-right: 35px;
}

.joinEvent {
    justify-content: center !important;
}

/*Nguyễn Thanh Tùng*/
.btn-close-icon {
    display: block;
    background: #DDDDDD;
    border-radius: 30px;
    width: 26px;
    height: 27px;
}

.text-w-400 {
    font-weight: 400;
}

.select-item {
    opacity: 0.7;
}

#bg-img {
    background-size: cover;
    background-position: center;
}

.modal-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    min-height: calc(100vh - 60px);
}

.text-black {
    color: black;
}

.calendar-year {
    height: 50px;
    background: #f4f4f4;
    border: none;
}

#option-calendar {
    background: #f4f4f4;
}

#select-month {
    height: 48px !important;
    border: 2px solid #f4f4f4;
}

.dayoff-header {
    width: 80px;
    height: 80px;
    position: relative;
}

.dayoff-icoin {
    font-size: 33px;
    position: absolute;
    left: 24px;
    top: 23px;
    margin: 0 auto;
}

#dayoff-option-header-4 {
    background: #ff848f;
}

#dayoff-option-header-3 {
    background: #ffda91;
}

#dayoff-option-header-2 {
    background: #2aea78;
}

#dayoff-option-header-1 {
    background: #79abff;
}

#bg-yellow {
    background: #ffbb33;
}

.dayoff-cioin-1-2-3 {
    left: 29px !important;
}

.text-size-header {
    font-size: 16px !important;
}

#btnSearch {
    background: #f4f4f4 !important;;
}

.search-day-off {
    border: 1px solid #f4f4f4;
}

.color-search {
    color: #d8d8d8;
    font-size: 18px;
}

.table-name {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.border-radius-2 {
    border-radius: 12px;
}

.border-radius-1 {
    border-radius: 6px;
}

.table-title {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.select_year {
    background: #f4f4f4;
    text-align-last: center;
}

@media (min-width: 768px) and (max-width: 1366px) {
    .dayoff-header {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .dayoff-icoin {
        font-size: 27px;
        position: absolute;
        left: 8px !important;
        top: 6px;
    }

    .dayoff-icoin-close {
        left: 6px !important;
    }


    .dayoff-cioin-1-2-3 {
        left: 10px !important;
    }

    .text-size-header {
        font-size: 14px !important;
    }

    .text-size-table {
        font-size: 12px;
    }

    .size-table {
        left: 7px;
        top: 7px;
    }
}

@media (min-width: 1800px) {
    .ml-xxl-2 {
        margin-left: -60px;
    }

    .ml-xxl-1 {
        margin-left: -56px;
    }

    .ml-xxxl-1 {
        margin-left: -57px;
    }
}

/*
        Style work time calendar
 */
.table-work-time {
    display: flex;
}

.tr-work-time {
    justify-content: center;
}

.select-month-calendar {
    padding-top: 7px;
}

.chooseMonth, .chooseYear {
    height: 45px;
}

table.calendarTable thead th {
    width: 13%;
}

#calendar tr td:first-child,
#calendar tr td:last-child {
    background: #eeeeee;
    color: #ff3549;
}

table.calendarTable td {
    padding: 35px 0 35px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.time-work {
    font-size: 12px;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar tr td {
    border: 0.5em solid #fff;
    background-color: #eeeeee;
    /*padding: 20px 5px;*/
    width: 14.28%;
    vertical-align: top;
    text-align: center;

}

.dayNumber {
    font-size: 1.7em;
    font-weight: bold;
}

td.blank, .type-1, .type-2 {
    opacity: 0.4;
}

.attendance-time {
    margin-top: 5px;
    padding: 5px;
    font-size: 0.8em;
    max-height: 5em;
    overflow: hidden;
}

.calendar-td-body {
    user-select: none;
}

.modal-set-center {
    margin-left: 43%;
}

.data-type-1, .data-type-2 {
    background-color: #ff3548 !important;
    color: #ffffff !important;
}

.data-type-4 {
    background-color: #4385f5 !important;
    color: #ffffff !important;
}

/*.data-type-5 {*/
/*background-color: #01c851 !important;*/
/*color: #ffffff !important;*/
/*}*/

.text-d-bold {
    font-weight: bold;
}

#number_off-error, #title-error, #exampleFormControlTextarea2-error, #approver_id-error, #option_check-error {
    color: red;
}

.paginate-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-reulation {
    margin-left: 15px;
    font-size: 19px;
}

.list-reulation .index-regulation {
    width: 25px;
    display: inline-block;
}

.color-red {
    color: red;
}

#post-content .post-item {
    border-bottom: 1px solid #ccc;
}

#post-content {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}

#post-content .post-item:last-child {
    border-bottom: none;
}

.other-ot {
    top: 1px;
    right: 10px;
    position: relative;
    opacity: 1;
}

.ml-40 {
    margin-left: 40%;
}

.ml-36 {
    margin-left: 36%;
}


/*
            End work time calendar
 */
.text-size-header-1 {
    font-size: 14px !important;
}

#btn-select {
    color: black !important;
    background: white !important;
    width: 200px;
}

.select-search {
    height: 48px;
}

.day-off-icoi {
    left: 25px;
}

#home .post-item {
}

#home .post-item img {
    max-height: 160px;
}

.elipsis-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.elipsis-line.line-2.fix-2 {
    min-height: 60px;
}

.elipsis-line.line-2 {
    -webkit-line-clamp: 2; /* number of w-74lines to show */
    line-height: 30px; /* fallback */
    max-height: 60px; /* fallback */
}

.elipsis-line.line-3 {
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 30px; /* fallback */
    max-height: 90px; /* fallback */
}

.elipsis-line.line-3.fix-3 {
    min-height: 90px;
}

@media (min-width: 768px) and (max-width: 1000px) {
    #app {
        padding-top: 0rem !important;
    }


}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .breadcrumb {
        padding: 10px !important;
    }

    .navbar-light .navbar-brand {
        margin-right: 0;
    }

}

@media (max-width: 1000px) {

    .sidebar-fixed {
        box-shadow: none;
        margin-top: -16px
    }

}

.permission-reason, .permission-reason-late-ot, .permission-reason-late, .permission-reason-early, .permission-reason-ot {
    width: 85%;
    margin: 0 auto;
}

.mg-center {
    margin: 0 auto;
}

.mg-left-10 {
    margin-left: 10%;
}

.td-approve {
    padding: 18px 0;
}

.option-time-day-off {
    height: 38px;
    margin-left: -3px;
    margin-top: 24px;
    background-color: #e9ecef;
    border: none;
    opacity: inherit;
    width: 80px;
    border: 1px solid #e9ecef;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #6098f2;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link:hover, .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover, .navbar.navbar-light .navbar-toggler, .navbar.navbar-light form .md-form .form-control {
    color: #000;
}

.no-box-shadow, .no-box-shadow:hover {
    box-shadow: none;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #slide-out {
        transform: translateX(0%) !important;

    }

    .navbar, .page-footer, main {
        padding-left: 270px;
    }
}

.ui-datepicker {
    margin-top: 0px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #slide-out {
        transform: translateX(0%) !important;

    }

    .navbar, .page-footer, main {
        padding-left: 270px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #slide-out {
        /*transform: translateX(0%) !important;*/

    }
}

@media (min-width: 1199px) {
    #slide-out {
        transform: translateX(0%) !important;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1600px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xxl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-xxl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xxl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xxl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xxl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xxl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xxl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xxl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xxl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xxl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xxl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xxl-first {
        -ms-flex-order: -1;
        order: -1;
    }

    .order-xxl-last {
        -ms-flex-order: 13;
        order: 13;
    }

    .order-xxl-0 {
        -ms-flex-order: 0;
        order: 0;
    }

    .order-xxl-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-xxl-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .order-xxl-3 {
        -ms-flex-order: 3;
        order: 3;
    }

    .order-xxl-4 {
        -ms-flex-order: 4;
        order: 4;
    }

    .order-xxl-5 {
        -ms-flex-order: 5;
        order: 5;
    }

    .order-xxl-6 {
        -ms-flex-order: 6;
        order: 6;
    }

    .order-xxl-7 {
        -ms-flex-order: 7;
        order: 7;
    }

    .order-xxl-8 {
        -ms-flex-order: 8;
        order: 8;
    }

    .order-xxl-9 {
        -ms-flex-order: 9;
        order: 9;
    }

    .order-xxl-10 {
        -ms-flex-order: 10;
        order: 10;
    }

    .order-xxl-11 {
        -ms-flex-order: 11;
        order: 11;
    }

    .order-xxl-12 {
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-xxl-0 {
        margin-left: 0;
    }

    .offset-xxl-1 {
        margin-left: 8.333333%;
    }

    .offset-xxl-2 {
        margin-left: 16.666667%;
    }

    .offset-xxl-3 {
        margin-left: 25%;
    }

    .offset-xxl-4 {
        margin-left: 33.333333%;
    }

    .offset-xxl-5 {
        margin-left: 41.666667%;
    }

    .offset-xxl-6 {
        margin-left: 50%;
    }

    .offset-xxl-7 {
        margin-left: 58.333333%;
    }

    .offset-xxl-8 {
        margin-left: 66.666667%;
    }

    .offset-xxl-9 {
        margin-left: 75%;
    }

    .offset-xxl-10 {
        margin-left: 83.333333%;
    }

    .offset-xxl-11 {
        margin-left: 91.666667%;
    }
}

.navbar.fixed-top {
    position: fixed;
}

#punish {
}

#punish .punish-counter {
    font-size: 50px;
}

#btn-detail-day-off {
    border-radius: 3px;
}

.table-detail-day-off {
    padding: 0.4rem !important;
}

@media (max-width: 575px) {
    #btn-detail-day-off {
        width: 99%;
        height: 36px;
        line-height: 11px;
    }
}

.calendar-search {
    top: 8px;
    right: 5px;
    font-size: 23px;
    z-index: 0;
    color: darkgrey;
}

